body {
   background-image: url("http://data.whicdn.com/images/137775981/large.jpg");
   color: #FF4E50;



}
#total {
  font-size: 30px;
}
#pizzaForm {
  font-size: 30px;
}
body{
  text-align: center;
}
h2 {
  font-size: 45px;
}
.return {
  font-size: 30px;
}
